@page "/leavetypes/create"


<h3>Create Leave Type</h3>

@if (!string.IsNullOrEmpty(Message))
{
	<div class="alert alert-danger">@Message</div>	
}


<FormComponent ButtonText="Create" LeaveType="LeaveType" OnValidSubmit="@CreateLeaveType"></FormComponent>